.App {
  .arrow {
    position: absolute;
    color: white;
    top: 3%;
    left: 280px;
    transition: all 0.5s ease-in-out;

    &.rotate {
      transform: rotate(180deg);
      left: 1%;
    }
  }
  .left-nav {
    position: absolute;
    width: 270px;
    height: 100vh;
    background-color: #202123;
    transition: all 0.5s ease-in-out;

    .upper-section {
      form {
        input {
          background: transparent;
          color: white;
          border: 1px solid #797e88;
          width: 90%;
          margin: 0 auto;
          &::placeholder {
            color: #797e88;
          }
        }
      }
    }
    .lower-section {
      ul {
        border-top: 1px solid #3d3f42;

        li {
          height: 40px;
          cursor: pointer;
          background-color: transparent;
          transition: all 0.1s ease-in-out;
          font-size: 14px;
          > * {
            color: #ffffff;
          }
          &:hover {
            background-color: #3a3b3c;
          }
          form {
            input {
              background-color: transparent;
              border: none;
              border-bottom: 1px solid rgba(255, 255, 255, 0.521);
              border-radius: 0;
              color: #ffffff;
              height: 20px;

              &::placeholder {
                color: #797e88;
              }
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
    &.showNav {
      left: 0;
    }
    &.hideNav {
      left: -400px;
    }
  }
  .center-nav {
    width: 100vw;
    height: 100vh;
    background-color: #343541;

    .home-page {
      transition: all 0.5s ease-in-out;
      position: absolute;
      left: 40%;
      top: 25%;
      h2 {
        color: #ffffff;
      }
      .lead {
        color: white;
      }
      h5 {
        color: #ffffff;
      }
      .text-small {
        color: #ffffff56;
        font-size: 14px;
      }
      &.active {
        left: 30%;
      }
    }
    .chatbot-ui {
      transition: all 0.5s ease-in-out;
      position: absolute;
      left: 32%;
      top: 15%;
      height: 80vh;
      width: 800px;

      h2 {
        color: #ffffff;
        margin-bottom: 2.5rem;
        position: absolute;
        left: 35%;
      }

      .response {
        width: 80%;
        margin: 0 auto;
        height: 380px;
        margin-top: 3rem;
        overflow-y: auto;
        span {
          font-size: 1rem;
        }
        p {
          letter-spacing: 1px;
          margin-top: 1.1rem;
          font-weight: 300;
          white-space: pre-wrap;
          color: #ccd0da;
          font-size: 1rem;
          > * {
            font-size: 1rem !important;
          }
        }
        &::-webkit-scrollbar {
          display: none;
        }

        @keyframes blink {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        
        .blinking-slash span {
          animation: blink 1s infinite;
        }
      }
      .search-bar {
        background-color: #444654;

        input {
          background-color: #40414f;
          color: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.096);
          padding: 11px 20px;

          &::placeholder {
            color: #ffffff56;
          }
          &:focus {
            border: 1px solid white;
          }
        }
      }

      &.active {
        left: 20%;
      }
    }
    .user-query {
      transition: all 0.5s ease-in-out;
      margin-top: 3rem;
      padding-left: 32.3rem;
      font-weight: 300;
      background-color: #444654;


      &:first-child {
        font-size: 2rem;
        color: #ffffff;
      }
      .response-input {
        color: #797e88;
        font-size: 1.2rem;
      }

      &.active {
        padding-left: 22rem;
      }
    }
  }
}
